:root {
    --text: #2B2B2B;
    --subtext: #555555;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
    color: var(--text);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #252525;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1.5em;
}

.container {
    padding: 30px;
    background-color: white;
    max-width: 640px;
    border-radius: 10px;
}

.calculator {
    width: 400px;
}

.display {
    font-size: 3em;
    border: none;
    border-bottom: 2px solid deeppink;
    width: 100%;
    text-align: right;
}

.btn {
    width: 80px;
    height: 80px;
    font-size: 1em;
    border: none;
    background-color: transparent;
    border-radius: 100%;
    cursor: pointer;
}

.btn:hover {
    background: #dadada;
}

.btn-eq {
    background-color: deeppink;
    color: white;
}

.btn-eq:hover {
    background-color: rgb(214, 25, 126);
    color: white;
}

.color {
    color: deeppink;
    font-weight: bold;
}